<div class="dataTables_filter" style="width: 100%; margin-bottom: 30px;">
    <label for="project-list" style="width: 100%">
        <input type="text" id="project-list" name="project-list" placeholder="Filter results" />
    </label>
</div>
